


/* don't need these anymore, I dynamically add these in the javascript */
/* Initially used for testing the color background/s */

/* 
.bluBkgnd {
    margin: 10px;
}

.UVcolorIndicator{
    margin: 10px;
    background-color: yellow;
} */

